# Configuration files to ignore
config.yaml
config.private
*.private

# Python related paths to ignore
__pycache__/
.pydeps
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
.env
*.log
.coverage
htmlcov/
*.log*

# Test files and directories to ignore
tests/

# Project-specific files and directories
.pyenv
browsers/

# Temporary files
tree_*

main.spec
sonar-project.properties
**/*.zip
chrome-*
chromedriver-*