.goat
# Project-specific files and directories
config.yaml
config.private
*.private
*.zip
tests/
chrome/

# Python related paths to ignore
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
.env
*.log
.coverage
htmlcov/
__pycache__/
*.log*

chromium/
