[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
distlib = "*"
exceptiongroup = "*"
filelock = "*"
h11 = "*"
idna = "*"
outcome = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
PySocks = "*"
pywin32-ctypes = "*"
requests = "*"
selenium = "*"
sniffio = "*"
sortedcontainers = "*"
trio = "*"
trio-websocket = "*"
ttkbootstrap = "*"
typing-extensions = "*"
urllib3 = "*"
virtualenv = "*"
websocket-client = "*"
wsproto = "*"

[dev-packages]

[requires]
python_version = "3.10"
